html{
    background-color: black;
    color: white;
    text-align: center;
}
#mainImg{
    border: 4px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
#Poster{
    font-family: "Libre Baskerville", serif;
}
